<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>Sign Up</title>
		<script type="application/javascript" src="./js/angular.min.js"></script>
		<script type="application/javascript" src="./js/angular-route.min.js"></script>
		<link rel="stylesheet" href="./bootstrap-3.3.4-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/Main.css">
		<link rel="stylesheet" href="./css/signUp.css">
		<h2>Registration Details</h2>

	</head>
	<body>
		<div class="container exactCenter">

			<form method="POST" action="/createUser">
				<input type="text" name="firstname" class="flow-control pad" placeholder="First Name" required>
				<input type="text" name="lastname" class="flow-control pad" placeholder="Last Name" required>
				<input type="email" name="email" class="flow-control pad" placeholder="Email" required>
				<input type="password" name="password" class="flow-control pad" placeholder="Password" required>
				<input type="submit" class="btn btn-primary btn-signup pad" value="Register">

			</form>
		<% if (message.length > 0) { %>
			       <div class="alert alert-warning"><%= message %></div>
			<% } %>
		</div>
	

	</body>
</html>